:root {
    --primary-color: sandybrown;
    --primary-color-semi-transparent: rgba(244, 164, 96, 0.5);
    --secondary-color: white;
    --font-family: Arial, sans-serif;
    --box-shadow-large: 0 0 8px rgba(0, 0, 0, 0.5);
    --box-shadow-small: 0 0 4px rgba(0, 0, 0, 0.3);
    --border-radius: 8px;
    --nav-height: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--secondary-color);
}

.centered {
    max-width: 800px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
}

.container {
    height: calc(100vh - var(--nav-height));
    padding: 2rem;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    box-shadow: var(--box-shadow-large);
    height: var(--nav-height);
}

.nav-link {
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: bold;
    box-shadow: var(--box-shadow-small);
}

#task-form {
    display: flex;
    gap: 1rem;
    margin-bottom:3rem;
}

input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.task-checkbox {
    width: 18px;
    height: 18px;
    margin: 0;
    cursor: pointer;
}

button {
    width: 100%;
    max-width: 100px;
    height: 100%;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    box-shadow: var(--box-shadow-small);
    font-weight: bold;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-small);
}

.finished {
    background-color: var(--primary-color-semi-transparent);
}

.finished span {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: line-through;
}

.btn-stretch {
    max-width: 100%;
    white-space: nowrap;
    font-weight: normal;
    border-radius: 0;
    color: black;
    box-shadow: none;
    background-color: transparent;
    border-left: 1px solid gray;
}

.btn-stretch:hover {
    background-color: lightgray;
}

.delete-btn:hover {
    border-radius: 0 8px 8px 0;
}

.row {
    display: flex;
}
