{% extends "base.html" %}

{% block content %}
    <div class="centered container">
        <form id="task-form" action="{{ url_for('index') }}" method="post">
            <input type="text" name="task" placeholder="Enter a new task" maxlength="100">
            <button type="submit">Add Task</button>
        </form>
    
        <ul>
            {% for task in tasks %}
                <li class="{{ 'finished' if task.finished else '' }}">
                    <span>{{ task.description }}</span>
                    <form class="row" action="{{ url_for('manage_task') }}" method="post">
                        <input type="hidden" name="task_index" value="{{ loop.index0 }}">
                        <button class="btn-stretch" type="submit" name="action" value="{{ 'undone' if task.finished else 'done' }}">{{ 'Mark as undone' if task.finished else 'Mark as done' }}</button>
                        <button class="btn-stretch delete-btn" type="submit" name="action" value="delete">Delete task</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}